extends baseEmail

block content
  div.email-content
    h2.greeting Password Reset Request

    p.message
      | Hello #{firstName},
      | We received a request to reset the password for your Ryokou account. 
      | No worries! It happens to the best of us.

    p.message
      | To reset your password, simply click the button below. This link will expire in 
      span.highlight 10 minutes 
      | for security reasons.

    // Japanese Message
    div.japanese-greeting
      span.jp-text パスワードのリセット
      span.jp-translation Reset Your Password

    // Call to action
    
    div.cta-container
      a.cta-button(href=`${url}`) Reset Password


    // Security Notice
    div.features
      h3.features-title Important Security Information
      
      div.feature-item
        //- img.feature-icon(src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iI2MzMzc2NCI+PHBhdGggZD0iTTE4IDhoLTFWNmMwLTIuNzYtMi4yNC01LTUtNVM3IDMuMjQgNyA2djJINmMtMS4xIDAtMiAuOS0yIDJ2MTBjMCAxLjEuOSAyIDIgMmgxMmMxLjEgMCAyLS45IDItMlYxMGMwLTEuMS0uOS0yLTItMnptLTYgOWMtMS4xIDAtMi0uOS0yLTJzLjktMiAyLTIgMiAuOSAyIDItLjkgMi0yIDJ6bTMuMS05SDguOVY2YzAtMS43MSAxLjM5LTMuMSAzLjEtMy4xIDEuNzEgMCAzLjEgMS4zOSAzLjEgMy4xdjJ6Ii8+PC9zdmc+" alt="Security icon")
        p.feature-text If you didn't request this password reset, you can safely ignore this email.

      div.feature-item
        //- img.feature-icon(src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iIzFkMjY3MSI+PHBhdGggZD0iTTEyIDJDNi40OCAyIDIgNi40OCAyIDEyczQuNDggMTAgMTAgMTAgMTAtNC40OCAxMC0xMFMxNy41MiAyIDEyIDJ6bTEgMTVoLTJ2LTZoMnY2em0wLThoLTJ2LTJoMnYyeiIvPjwvc3ZnPg==" alt="Info icon")
        p.feature-text For security reasons, the reset link will expire 10 minutes after this email was sent.

      div.feature-item
        //- img.feature-icon(src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iI2MzMzc2NCI+PHBhdGggZD0iTTEyIDEyYzIuMjEgMCA0LTEuNzkgNC00cy0xLjc5LTQtNC00LTQgMS43OS00IDQgMS43OSA0IDQgNHptMCAyYy0yLjY3IDAtOCAxLjM0LTggNHYyaDE2di0yYzAtMi42Ni01LjMzLTQtOC00eiIvPjwvc3ZnPg==" alt="User icon")
        p.feature-text Never share your password with anyone. Our staff will never ask for your password.

    p.message
      | If you have any questions or need assistance, please contact our support team at 
      a(href="mailto:support@ryokou.com") support@ryokou.com

    p.message
      | Regards,
      br
      | The Ryokou Team 
