footer.footer
  .footer-content
    .footer-about
      h4.footer-heading About Us
      p.footer-text RYOKOU specializes in booking tours and travel experiences. Connecting travelers with authentic culture, breathtaking landscapes, and unforgettable memories.
      p.creator
        | Created with
        span.leaf
          i.fas.fa-leaf
        | by
        span.creator-name Monsoon
      .footer-social
        a(href="#")
          i.fas.fa-envelope
        a(href="#")
          i.fab.fa-github
        a(href="#")
          i.fab.fa-linkedin
        a(href="#")
          i.fab.fa-instagram